In [1]:
# loc & iloc
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\Indian Startup.csv')

In [3]:
df

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC","$35,000,000",Series B,Dec-2021
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,"$40,000,000",NaN,Dec-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,"$50,000,000",NaN,Dec-2021
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021
...,...,...,...,...,...,...,...,...,...,...
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks","$100,000",Pre-series A1,Jan-2021
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,"$500,000",NaN,Jan-2021
1206,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital","$70,000,000",NaN,Jan-2021
1207,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,"$720,000",Pre-seed,Jan-2021
1208,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool","$3,000,000",Pre-series A,Jan-2021

In [4]:
#explore the data ......
# observe the data-----> head,tail,sample
df.head()

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC","$35,000,000",Series B,Dec-2021
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,"$40,000,000",NaN,Dec-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,"$50,000,000",NaN,Dec-2021
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021

In [5]:
df.tail()

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks","$100,000",Pre-series A1,Jan-2021
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,"$500,000",NaN,Jan-2021
1206,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital","$70,000,000",NaN,Jan-2021
1207,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,"$720,000",Pre-seed,Jan-2021
1208,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool","$3,000,000",Pre-series A,Jan-2021

In [6]:
df.sample(5)

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
110,VilCart,2017.0,Bangalore,Retail,Vilcart's motto is sustainable rural developme...,Prasanna Kumar,Nabventures,"$2,000,000",NaN,Nov-2021
829,BlissClub,2020.0,Bangalore,Fashion,BlissClub is a community first women’s activew...,Minu Margeret,Elevation Capital,"$2,000,000",Seed,May-2021
278,DeHaat,2012.0,Gurugram,Information Technology & Services,DeHaat™ is one of the fastest growing start-up...,"Amrendra Singh, Shyam Sundar, Adarsh Srivastav...","Sofina, Lightrock India, Temasek","$115,000,000",Series D,Oct-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
841,Asirvad Microfinance,2007.0,Chennai,FinTech,Asirvad Microfinance provides microfinance loa...,Raja Vaidyanathan,"WorldBusiness Capital, Northern Arc","$15,000,000",NaN,May-2021

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   Headquarters   1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founder/s      1205 non-null   object
 6   Investor/s     1146 non-null   object
 7   Amount         1202 non-null   object
 8   Stage          781 non-null    object
 9   Date           1209 non-null   object
dtypes: float64(1), object(9)
memory usage: 94.6+ KB

In [8]:
df.corr()

         Founded
Founded      1.0

In [9]:
df.describe()

           Founded
count  1208.000000
mean   2016.655629
std       4.517364
min    1963.000000
25%    2015.000000
50%    2018.000000
75%    2020.000000
max    2021.000000

In [10]:
# 1. Null values
# 2. Amount is categorical instead of numerical.
# 3. Date is in float insted of date time.
# 4. Amount is having irrelavant data -----> $disclosed.

In [11]:
# loc & iloc
df.columns

Index(['Company/Brand', 'Founded', 'Headquarters', 'Sector', 'What it does',
       'Founder/s', 'Investor/s', 'Amount', 'Stage', 'Date '],
      dtype='object')

In [12]:
df.loc[df['Stage'] == 'Series A']

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021
9,LenDenClub,2015.0,Mumbai,Financial Services,P2P lending platform delivering high returns o...,"Bhavin Patel, Dipesh Karki","Tuscan Ventures, Ohm Stock Brokers, Artha Vent...","$10,000,000",Series A,Dec-2021
10,CometChat,2009.0,Mumbai,Computer Software,"Voice, video & text chat SDKs, APIs & Plugins ...","Anuj, Anant Garg",Signal Peak Ventures,"$10,000,000",Series A,Dec-2021
15,CloudSEK,2015.0,Bangalore,Computer & Network Security,AI-powered Digital Risk Monitoring platform th...,Rahul Sasi,MassMutual Ventures,"$7,000,000",Series A,Dec-2021
17,Trinkerr,2021.0,Bangalore,Capital Markets,Trinkerr is India's first social trading platf...,"Manvendra Singh, Gaurav Agarwal",Accel India,"$6,600,000",Series A,Dec-2021
...,...,...,...,...,...,...,...,...,...,...
1171,CoinSwitch Kuber,2017.0,Bangalore,Cryptocurrency,Coinswitch.co is a cryptocurrency exchange agg...,"Ashish Singhal, Govind Soni, Vimal Sagar Tiwari","Ribbit Capital, Kunal Shah","$15,000,000",Series A,Jan-2021
1177,Ergos,2012.0,Samsitpur,AgriTech,Ergos is building an integrated supply chain p...,"Kishor Kumar Jha, Praveen Kumar","CDC Group, Aavishkaar Venture Capital","$3,000,000",Series A,Jan-2021
1182,Toothsi,2018.0,Mumbai,Healthcare,ToothSi is a new age startup in the dental spa...,"Dr Arpi Mehta, Dr Pravin Shetty, Dr Manjul Jai...",Think Investments,"$5,000,000",Series A,Jan-2021
1184,Phi Commerce,2015.0,Pune,FinTech,"Payments Facilitator, Payments solution provid...","Anil Sharma, Jose Thattil, Rajesh Londhe, Tush...","Yatra Angel Network, BEENEXT","$4,000,000",Series A,Jan-2021
1195,Kyt,2020.0,Bangalore,EdTech,"An online-first, global academy for extracurri...","Bhavik Rathod, Tripti Ahuja",Alpha Wave Incubation,"$5,000,000",Series A,Jan-2021

In [13]:
df.loc[df['Sector']=='EdTech'][0:3]

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
186,BYJU'S,2011.0,Bangalore,EdTech,BYJU’S is India's largest ed-tech company and ...,"Byju Raveendran, Divya Gokulnath","Oxshott Capital Partners, XN Exponent, Edelweiss","$300,000,000",NaN,Oct-2021
192,Sunstone Eduversity,2011.0,Gurugram,EdTech,Sunstone Eduversity is a one-of-its-kind busin...,"Ashish Munjal, Piyush Nangru",WestBridge Capital,"$28,000,000",Series B,Oct-2021
254,Questt,2020.0,Gurugram,EdTech,Questt is a Free online homework app that lets...,"Akhil, Mohsin M, Rohit Pande",Celesta Capital,"$6,750,000",Series A,Oct-2021

In [14]:
df.loc[0:6]

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC","$35,000,000",Series B,Dec-2021
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,"$40,000,000",NaN,Dec-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,"$50,000,000",NaN,Dec-2021
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021
5,Curefit,2016.0,Bangalore,"Health, Wellness & Fitness",Tata Digital-backed Curefit,"Mukesh Bansal, Ankit",Zomato,"$145,000,000",NaN,Dec-2021
6,Pocket FM,2018.0,Bangalore,OTT,Pocket FM lets users discover and enjoy the gr...,"Rohan, Nishanth Srinivas, Prateek Dixit","Lightspeed, Times Group, Tanglin Venture Partners","$22,000,000",Series B,Dec-2021

In [15]:
# iloc 
df.iloc[0:6]

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC","$35,000,000",Series B,Dec-2021
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,"$40,000,000",NaN,Dec-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,"$50,000,000",NaN,Dec-2021
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021
5,Curefit,2016.0,Bangalore,"Health, Wellness & Fitness",Tata Digital-backed Curefit,"Mukesh Bansal, Ankit",Zomato,"$145,000,000",NaN,Dec-2021

In [16]:
df.iloc[df['Sector']=='EdTech']

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [17]:
df.iloc[0:].count()

Company/Brand    1209
Founded          1208
Headquarters     1208
Sector           1209
What it does     1209
Founder/s        1205
Investor/s       1146
Amount           1202
Stage             781
Date             1209
dtype: int64

In [18]:
df.head(6)

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC","$35,000,000",Series B,Dec-2021
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,"$40,000,000",NaN,Dec-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,"$50,000,000",NaN,Dec-2021
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021
5,Curefit,2016.0,Bangalore,"Health, Wellness & Fitness",Tata Digital-backed Curefit,"Mukesh Bansal, Ankit",Zomato,"$145,000,000",NaN,Dec-2021

In [19]:
#when do we use loc & iloc function?

# df.iloc['Founded'][0:8]
df['Sector'].iloc[0:7]

0                          E-learning
1                    Food & Beverages
2                   Consumer Services
3    Venture Capital & Private Equity
4                  Financial Services
5          Health, Wellness & Fitness
6                                 OTT
Name: Sector, dtype: object

In [20]:
df.loc[df['Sector'] == 'EdTech'].iloc[4:9]

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
382,Tinkerly,2015.0,Jaipur,EdTech,A STEM learning online-offline solutions provi...,"O.P. Godara, Vivek Pathak, Kapil Arya, Sharad ...",Navneet Education,"$800,000",NaN,Sep-2021
396,Genext Students,2013.0,Mumbai,EdTech,LIVE online classes with expert tutors for K-1...,"Ali Asgar Kagzi, Piyush Dhanuka",Navneet Education,$Undisclosed,NaN,Sep-2021
401,OckyPocky,2015.0,Gurugram,EdTech,OckyPocky is India's 1st interactive English l...,Amit Agrawal,"Sujeet Kumar, SucSEED Indovation Fund",$Undisclosed,Seed,Sep-2021
409,Codingal,2020.0,Bangalore,EdTech,Codingal is on a mission to inspire school kid...,"Vivek Prakash, Satyam Baranwal",NaN,"$1,200,000",Seed,Sep-2021
415,Habbit,2020.0,Bangalore,EdTech,Habbit is online learning community for anyone...,"Somnath Sandeep, Raghav Goyal",Ashok Goyal,"$320,000",Pre-seed,Sep-2021

In [21]:
# groupby
# merge
# append
# concate
# join

In [22]:
df

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC","$35,000,000",Series B,Dec-2021
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,"$40,000,000",NaN,Dec-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,"$50,000,000",NaN,Dec-2021
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021
...,...,...,...,...,...,...,...,...,...,...
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks","$100,000",Pre-series A1,Jan-2021
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,"$500,000",NaN,Jan-2021
1206,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital","$70,000,000",NaN,Jan-2021
1207,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,"$720,000",Pre-seed,Jan-2021
1208,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool","$3,000,000",Pre-series A,Jan-2021

In [32]:
df.groupby(['Headquarters','Sector']).mean().iloc[:15]

                                                Founded
Headquarters Sector
Ahmadabad    AR startup                          2016.0
             Aeorspace                           2017.0
             Consulting                          2021.0
             EdTech                              2015.5
             Rental                              2014.0
Ahmedabad    Computer Software                   2018.0
             Consumer Goods                      2014.5
             Cosmetics                           2019.0
             Hospital & Health Care              2016.0
             Housing Marketplace                 2017.0
             Information Technology & Services   2012.0
             Legaltech                           2015.0
             Media                               2018.0
             Software Startup                    2020.0
Ambernath    Consumer Goods                      2016.0

In [26]:
df['Headquarters'].mean()

TypeError: can only concatenate str (not "int") to str

In [36]:
# find the sector which is located in gurgaon?
df[df['Headquarters']=='Gurgaon'].groupby('Sector').mean()

                   Founded
Sector
B2B Manufacturing   2020.0
E-learning          2015.0
EdTech              2019.0
FinTech             2018.0
Gaming              2018.0
Healthcare          2018.0
Hospitality         2012.0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   Headquarters   1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founder/s      1205 non-null   object
 6   Investor/s     1146 non-null   object
 7   Amount         1202 non-null   object
 8   Stage          781 non-null    object
 9   Date           1209 non-null   object
dtypes: float64(1), object(9)
memory usage: 94.6+ KB

In [38]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\IPL Matches 2008-2020.csv')

In [39]:
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [45]:
df[df['city'] == 'Delhi'].groupby('player_of_match').median()

                         id  neutral_venue  result_margin
player_of_match
A Mishra           980913.0            0.0            8.0
A Symonds          419160.0            0.0           11.0
AB de Villiers    1136605.0            0.0            5.0
AM Rahane          980965.0            0.0            7.0
AR Patel           734019.0            0.0            4.0
AS Rajpoot        1136582.0            0.0            4.0
BJ Hodge           598071.0            0.0            4.0
CH Gayle           548372.0            0.0           21.0
CH Morris          980945.0            0.0            1.0
CJ Anderson       1082605.0            0.0           51.0
CR Brathwaite      980951.0            0.0           27.0
DA Warner          501223.0            0.0           29.0
DJ Hooda           829715.0            0.0            3.0
DPMD Jayawardene   336022.0            0.0            6.0
DR Smith           733981.0            0.0            8.0
DW Steyn           733993.0            0.0            8.0
G Gambhir          733985.0            0.0            8.0
GD McGrath         335998.0            0.0           10.0
HH Pandya         1178409.0            0.0           40.0
HV Patel          1109629.0            0.0           22.0
Harmeet Singh      598059.0            0.0            5.0
JD Unadkat         598054.0            0.0            4.0
JH Kallis          548357.0            0.0            6.0
JM Bairstow       1175371.0            0.0            5.0
KD Karthik         377583.0            0.0           36.0
KK Nair            908308.5            0.0            7.0
KP Pietersen       548321.0            0.0            5.0
LMP Simmons       1082635.0            0.0          146.0
M Morkel           548316.0            0.0            8.0
MC Henriques       981015.0            0.0           22.0
MEK Hussey         598045.0            0.0           67.0
MF Maharoof        335984.0            0.0            9.0
MK Tiwary          501230.0            0.0           17.0
ML Hayden          419116.0            0.0            5.0
MS Dhoni           336009.0            0.0            4.0
Mohammed Shami    1082630.0            0.0            6.0
NM Coulter-Nile    956187.5            0.0            6.5
P Parameswaran     501238.0            0.0            7.0
PD Collingwood     419140.0            0.0           37.0
PP Chawla          419149.0            0.0            7.0
PP Shaw           1175365.0            0.0            NaN
R Dravid           598001.0            0.0            5.0
RR Pant           1109612.0            0.0            5.5
S Dhawan          1157511.5            0.0           12.5
S Sohal            501216.0            0.0           16.0
SC Ganguly         548333.0            0.0           20.0
SL Malinga         501201.0            0.0            8.0
SR Tendulkar       419114.0            0.0           98.0
SR Watson         1175360.0            0.0            6.0
SS Iyer           1136586.0            0.0           37.0
SV Samson          980933.0            0.0           10.0
UT Yadav           689054.0            0.0            5.5
V Kohli            501227.0            0.0            3.0
V Sehwag           548345.0            0.0            9.0
VR Aaron           829757.0            0.0           10.0

In [46]:
df[df['city'] == 'Delhi'].groupby('player_of_match').mean()

                            id  neutral_venue  result_margin
player_of_match
A Mishra          8.459972e+05            0.0       7.800000
A Symonds         4.191600e+05            0.0      11.000000
AB de Villiers    1.136605e+06            0.0       5.000000
AM Rahane         9.809650e+05            0.0       7.000000
AR Patel          7.340190e+05            0.0       4.000000
AS Rajpoot        1.136582e+06            0.0       4.000000
BJ Hodge          5.980710e+05            0.0       4.000000
CH Gayle          5.483720e+05            0.0      21.000000
CH Morris         9.809450e+05            0.0       1.000000
CJ Anderson       1.082605e+06            0.0      51.000000
CR Brathwaite     9.809510e+05            0.0      27.000000
DA Warner         6.337903e+05            0.0      24.333333
DJ Hooda          8.297150e+05            0.0       3.000000
DPMD Jayawardene  3.360220e+05            0.0       6.000000
DR Smith          7.339810e+05            0.0       8.000000
DW Steyn          7.339930e+05            0.0       8.000000
G Gambhir         7.339850e+05            0.0       8.000000
GD McGrath        3.359980e+05            0.0      10.000000
HH Pandya         1.178409e+06            0.0      40.000000
HV Patel          1.109629e+06            0.0      22.000000
Harmeet Singh     5.980590e+05            0.0       5.000000
JD Unadkat        5.980540e+05            0.0       4.000000
JH Kallis         5.483570e+05            0.0       6.000000
JM Bairstow       1.175371e+06            0.0       5.000000
KD Karthik        3.775830e+05            0.0      36.000000
KK Nair           9.083085e+05            0.0       7.000000
KP Pietersen      5.483210e+05            0.0       5.000000
LMP Simmons       1.082635e+06            0.0     146.000000
M Morkel          5.483160e+05            0.0       8.000000
MC Henriques      9.810150e+05            0.0      22.000000
MEK Hussey        5.980450e+05            0.0      67.000000
MF Maharoof       3.359840e+05            0.0       9.000000
MK Tiwary         5.012300e+05            0.0      17.000000
ML Hayden         4.191160e+05            0.0       5.000000
MS Dhoni          3.360090e+05            0.0       4.000000
Mohammed Shami    1.082630e+06            0.0       6.000000
NM Coulter-Nile   9.561875e+05            0.0       6.500000
P Parameswaran    5.012380e+05            0.0       7.000000
PD Collingwood    4.191400e+05            0.0      37.000000
PP Chawla         4.191490e+05            0.0       7.000000
PP Shaw           1.175365e+06            0.0            NaN
R Dravid          5.980010e+05            0.0       5.000000
RR Pant           1.109612e+06            0.0       5.500000
S Dhawan          1.157512e+06            0.0      12.500000
S Sohal           5.012160e+05            0.0      16.000000
SC Ganguly        5.483330e+05            0.0      20.000000
SL Malinga        5.012010e+05            0.0       8.000000
SR Tendulkar      4.191140e+05            0.0      98.000000
SR Watson         1.175360e+06            0.0       6.000000
SS Iyer           1.048248e+06            0.0      32.333333
SV Samson         9.809330e+05            0.0      10.000000
UT Yadav          6.890540e+05            0.0       5.500000
V Kohli           5.012270e+05            0.0       3.000000
V Sehwag          5.649037e+05            0.0      15.666667
VR Aaron          8.297570e+05            0.0      10.000000

In [47]:
df[df['city'] == 'Delhi'].groupby('toss_winner').median()

                                    id  neutral_venue  result_margin
toss_winner
Chennai Super Kings           598070.0            0.0           34.0
Deccan Chargers               460188.0            0.0           11.5
Delhi Capitals               1176888.5            0.0            6.0
Delhi Daredevils              548372.0            0.0            8.0
Kings XI Punjab               573214.0            0.0            5.0
Kochi Tuskers Kerala          501238.0            0.0            7.0
Kolkata Knight Riders         980983.0            0.0           24.5
Mumbai Indians                829747.0            0.0           37.0
Rajasthan Royals              781845.0            0.0            5.0
Rising Pune Supergiants       980965.0            0.0            7.0
Royal Challengers Bangalore   829757.0            0.0           10.0
Sunrisers Hyderabad           857505.0            0.0            4.5

In [49]:
df[df['city'] == 'Abu Dhabi'].groupby('toss_winner').median()

                              id  neutral_venue  result_margin
toss_winner
Chennai Super Kings    1216492.0            0.0            7.0
Delhi Capitals         1216529.0            0.0           15.0
Kings XI Punjab        1216503.0            0.0           48.0
Kolkata Knight Riders  1216501.0            0.0           10.0
Mumbai Indians         1216511.0            0.0            8.0
Rajasthan Royals        729315.0            1.0            6.5
Sunrisers Hyderabad    1216545.0            0.0            6.5

In [50]:
# merge
# concate
# append


a = [1,2,3]
b = [9,8,7]
c = a+b
c

[1, 2, 3, 9, 8, 7]

In [51]:
c.append('Ram')

In [52]:
c

[1, 2, 3, 9, 8, 7, 'Ram']

In [59]:
df[['city','toss_winner']].append(pd.DataFrame(['xyz']))

           city                  toss_winner    0
0     Bangalore  Royal Challengers Bangalore  NaN
1    Chandigarh          Chennai Super Kings  NaN
2         Delhi             Rajasthan Royals  NaN
3        Mumbai               Mumbai Indians  NaN
4       Kolkata              Deccan Chargers  NaN
..          ...                          ...  ...
812       Dubai               Delhi Capitals  NaN
813   Abu Dhabi          Sunrisers Hyderabad  NaN
814   Abu Dhabi               Delhi Capitals  NaN
815       Dubai               Delhi Capitals  NaN
0           NaN                          NaN  xyz

[817 rows x 3 columns]